Требования к дизайну:
 - отзывчивый дизайн;
 - семантическая верстка;
 - PixelPerfect;
 - следующие браузеры должны поддерживаться:
		- Firefox
		- Google Chrome
		- IE10, IE11
		- iOS 8.1.1, Andriod 4.0.3 и выше.